@media screen and (min-width: 600px) {
    body {
        width: 100%;
    }

    #hidden-links {
        display: flex;
        justify-content: space-around;
    }

    #menu {
        display: none;
    }

    header {
        width: 100%;
    }

    .social {
        margin-left: 40%;
    }

    
}

@media screen and (min-width: 800px) {
    .social {
        margin-left: 75%;
    }
}