@media screen and (min-width: 600px) {
    body {
        width: 100%;
    }
    nav ul {
        display: flex;
        justify-content: space-evenly;   
    }

    nav li {
        width: 100%;
        display: block;
    }

    main h1 {
        grid-column: 1 / 3;
    }

    #myBtn {
        display: none;
    }

    ul.links {
        display: flex;
    }
}